process validReco = {

    # MessageLogger
    include "FWCore/MessageLogger/data/MessageLogger.cfi"
    replace MessageLogger.categories = {}
    replace MessageLogger.FrameworkJobReport.FwkJob.limit = 0  
    replace MessageLogger.cerr.FwkReport.limit = 0  

    # Event source
    source = PoolSource {
	untracked uint32 skipEvents = $skipEvents
	untracked vstring fileNames = {}
    }
    #inputFileBlock


    untracked PSet maxEvents = {untracked int32 input = $nEvents}

#------------ Output File  ------------------------------------------------
    module out=PoolOutputModule{
        untracked string fileName = "$outFileName.root" 
        untracked vstring outputCommands = { 
	    "drop *",
	    "keep *_*_*_validReco"
	}
    }
    
    
#------------ Reco Sequence  ------------------------------------------------
#recoBlock

    
#------------ Analyzers  ----------------------------------------------------
#analyzerBlock


#------------ Schedule Reco + Validation ------------------------------------
 
    schedule = { pRecoOffline , pValidationOffline }
    
}
